* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body,html{
    width: 100%;
    max-width: 100%;
    overflow: hidden;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.secondary-menu {
    width: 50%;
}

.secondary-menu li {
    width: 200px;
    height: 75px;
    padding: 10px 20px;
    margin-left: 10px;
}

.secondary-menu li a {
    border: 1px solid #8e8e8e;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content:center;
    align-items: center;
}


.delete-button {
    color: #262626;
}

.edit-button {
    color:#262626;
}

.edit-button,.delete-button{
    border: none;
    padding:10px;
    background-color: transparent;
}

#task-list li, #event-list li {
    width: 100%;
    display: flex;
    
}

#task-list, #event-list{
    width: 100%;
    padding: 0px;
    margin-top: 30px;
}


.row {
    display: flex;
    width: 100%;
}

.d-flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.events {
    width: 80%;
    height: 500px;
}

#tasks{
    display:none;
}

.py-20 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.login-form {
    width: 350px;
    padding: 2rem 1rem 1rem;
  }
  
  form {
    padding: 1rem;
  }

  .container{
    height: 100vh;
 
  }

  .dot {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    display: inline-block;
  }

  .dashboard{
    overflow-y: scroll;
    padding-bottom:30px !important;
  }

  .list-item{
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    margin-bottom: 10px;
    background-color: #ffffff;
    padding-left:10px;
  }

  .task-heading{
    width: 80%;
    margin: 0px;
  }

  /*admin dashboard*/



.bg-purple,.btn-primary{
    background-color: #5c60f5;
}

.bg-grey{
    background-color: #f5f9fc;
}

.nav-link:hover{
    background-color: #f5f9fc;
}

.aside-menu li a{
    color:#262626;
    font-size: 1.2rem;
}

.aside-menu li i{
    margin-right:30px;
}

.event-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /*border: 1px solid #8e8e8e;*/
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border-radius: 8px;
    margin-bottom: 20px;
    background-color: #ffffff;
}


.date-container{
    width:20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:20px;
    background-color:#faf7fe;
   
}

.date-container span{
    margin: bottom 10px;
    text-align: center;

}
.event-features{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: center;
    padding: 20px 30px;
}

.event-day{
    font-size: 32px;
    color:blueviolet;
    font-weight: 600;
}
.event-month{
    font-size: 32px;
    font-weight: 700;
}
.add-button-text{
    margin-left:10px;
}
@media only screen and (max-width: 900px) {
    .event-container{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
       
    }

    .date-container{
        flex-direction: row;
        width:100%;
        padding:20px;
        justify-content: flex-start;
        background-color:#faf7fe;
    }

    .date-container span{
        margin-right:20px;
    }

    .event-features{
        width: 100%;
    }

    .menu-text,.add-button-text{
        display: none;
    }

    .aside-menu li i{
        margin-right:0px;
        text-align: center;
        font-size:25px;
        padding:0px;
    }

    .nav-link{
        padding:5px;
        margin:0px;
        display: flex;
        justify-content: center;
    }
   
}

@media only screen and (max-width:600px){
    .input-container-events{
        display: flex;
        flex-direction: column;
        
    }
    .input-container-events input{
        margin-bottom:15px;
        
    }

    .event-day, .event-month{
        font-size: 20px;
        margin-left:10px;
    }
}

