.terminos{
    padding-top: 15px;
    padding-bottom: 25px;
    padding-left: 25px;
    padding-right: 25px;
}
.listaTerminos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 15px;
}
.titulo{
font-weight: bold;
font-size: 16px;
}